// Table of contents pattern
@mixin docs-p-toc {
  .p-toc {
    list-style: none;
    margin: 0;
    padding: 0;

    &__item {
      margin-bottom: .5rem;

      &--separate {
        border-top: 1px solid $color-mid-light;
        margin: {
          bottom: 0;
          top: 1rem;
        }
        padding: 1rem 0;
      }

      &--separate + &--separate {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    &__link {
      border-bottom: 0;
      color: $color-dark;

      &.is-active {
        font-weight: normal;
      }

      &:visited {
        color: $color-dark;
      }

      &:hover {
        color: $color-link;
      }
    }
  }
}
